# Importing Libraries and Loading the data

In [115]:
import pandas as pd
data1 = pd.read_excel("trinity1.xlsx")
data2 = pd.read_csv("trinity2.csv")
data3 = pd.read_excel("trinity3.xlsx")
data4 = pd.read_excel("trinity4.xlsx",skiprows = 1)
data5 = pd.read_excel("trinity5.xlsx")
data6 = pd.read_excel("trinity6.xlsx")

In [116]:
## data cleaning of data1

In [117]:
data1

,Category Name,Colour,Price (In Rs),Qty(In gm or ml),Category
0,Noodles,Orange,50,74,Food
1,Lays,Green,10,26,Food
2,Minereal Wter,No Colour,10,500,Liquid
3,Perk,Blue,10,22,Food
4,Monster Energy,Black,130,350,Liquid
5,AloFruit,Red,20,180,Liquid
6,Winkin Cow,Pink,40,250,Liquid
7,Red Bull,Blue,120,350,Liquid
8,Oreo,Blue,10,25,Food
9,Tic Tak,White,10,10,Food
10,Good Day,Purple,20,30,Food
11,Brownie,Brown,50,100,Food
12,Tea,Light Brown,15,80,Liquid
13,Coffe,Light Brown,20,100,Liquid
14,Softy,Pista Green,35,100,Food
15,ice cream,Dark Brown,110,120,Food
16,Patties,Golden,35,200,Food
17,Sandwich,White,50,150,Food
18,Bourbon,Purple,10,20,Food
19,Perfume,Red,180,100,Toletries
20,Perfume,Red,180,100,Toletries
21,Pencil,Grey,5,3,Stationary
22,Book,Multicolour,60,70,Stationary
23,Soap,White,65,100,Toletries
24,Shampo,White,159,250,Toletries
25,Keyboard,Black,1200,600,Electronics
26,Mouse,Black,499,100,Electronics
27,Gel,Brown,469,250,Toletries
28,Cake,Black,500,500,Food
29,Toffe,Multicolour,1,1,Food
30,Bottle,White,160,150,Gift Articles
31,Canvas,White,200,50,Gift Articles
32,Toothpaste,White,160,105,Toletries
33,Keychain,Silver,75,35,Gift Articles
34,Clock,Multicolour,560,450,Gift Articles

In [118]:
data1.drop(['Colour'], axis=1, inplace=True)
data1

     Category Name  Price (In Rs)  Qty(In gm or ml)       Category
0          Noodles             50                74           Food
1             Lays             10                26           Food
2   Minereal Wter              10               500         Liquid
3             Perk             10                22           Food
4   Monster Energy            130               350         Liquid
5         AloFruit             20               180         Liquid
6       Winkin Cow             40               250         Liquid
7         Red Bull            120               350         Liquid
8             Oreo             10                25           Food
9         Tic Tak              10                10           Food
10        Good Day             20                30           Food
11         Brownie             50               100           Food
12            Tea              15                80         Liquid
13           Coffe             20               100         Liquid
14          Softy              35               100           Food
15       ice cream            110               120           Food
16         Patties             35               200           Food
17        Sandwich             50               150           Food
18         Bourbon             10                20           Food
19         Perfume            180               100      Toletries
20         Perfume            180               100      Toletries
21          Pencil              5                 3     Stationary
22            Book             60                70     Stationary
23            Soap             65               100      Toletries
24          Shampo            159               250      Toletries
25        Keyboard           1200               600    Electronics
26           Mouse            499               100    Electronics
27             Gel            469               250      Toletries
28            Cake            500               500           Food
29           Toffe              1                 1           Food
30          Bottle            160               150  Gift Articles
31          Canvas            200                50  Gift Articles
32      Toothpaste            160               105      Toletries
33        Keychain             75                35  Gift Articles
34           Clock            560               450  Gift Articles

In [119]:
data1=data1.rename(columns={"Category Name":"Name","Price (In Rs)":"Price","Qty(In gm or ml)":"Quantity"})
data1

              Name  Price  Quantity       Category
0          Noodles     50        74           Food
1             Lays     10        26           Food
2   Minereal Wter      10       500         Liquid
3             Perk     10        22           Food
4   Monster Energy    130       350         Liquid
5         AloFruit     20       180         Liquid
6       Winkin Cow     40       250         Liquid
7         Red Bull    120       350         Liquid
8             Oreo     10        25           Food
9         Tic Tak      10        10           Food
10        Good Day     20        30           Food
11         Brownie     50       100           Food
12            Tea      15        80         Liquid
13           Coffe     20       100         Liquid
14          Softy      35       100           Food
15       ice cream    110       120           Food
16         Patties     35       200           Food
17        Sandwich     50       150           Food
18         Bourbon     10        20           Food
19         Perfume    180       100      Toletries
20         Perfume    180       100      Toletries
21          Pencil      5         3     Stationary
22            Book     60        70     Stationary
23            Soap     65       100      Toletries
24          Shampo    159       250      Toletries
25        Keyboard   1200       600    Electronics
26           Mouse    499       100    Electronics
27             Gel    469       250      Toletries
28            Cake    500       500           Food
29           Toffe      1         1           Food
30          Bottle    160       150  Gift Articles
31          Canvas    200        50  Gift Articles
32      Toothpaste    160       105      Toletries
33        Keychain     75        35  Gift Articles
34           Clock    560       450  Gift Articles

In [120]:
data1.isnull().sum()

Name        0
Price       0
Quantity    0
Category    0
dtype: int64

In [18]:
## data cleaning od data2

In [121]:
data2

,Name,Price,Quantity/Volume,Energy,Protein,Colour,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Maaza,10,135.0,44.00,0.00,Orange,NaN,NaN,NaN
1,Amul Masti,15,200.0,57.00,3.00,Green,NaN,NaN,NaN
2,Lays Wafer Style,10,26.0,539.00,6.70,Light Green,NaN,NaN,NaN
3,Paper Boat Chikki,10,25.0,497.60,13.90,White,NaN,NaN,NaN
4,Oreo Chocolate Creme,20,70.0,482.00,5.30,Blue,NaN,NaN,NaN
5,Perk Double,10,22.0,512.00,3.70,Light Blue,NaN,NaN,NaN
6,Cup Noodles Chilli Super Hot,50,70.0,444.49,10.20,Black,NaN,NaN,"Group: Joel,Rosh,Alen"
7,Kwality Wall's Divine Chocolate Chocochip,80,58.0,131.70,2.30,Brown,NaN,NaN,NaN
8,Kwality Wall's Cassatta,70,64.0,151.00,3.40,Pink,NaN,NaN,NaN
9,Monster Energy,125,350.0,167.00,0.00,Black,NaN,NaN,NaN
10,Geki Hot & Spicy Korean Chicken Flavour,49,80.0,476.95,6.79,Black,NaN,NaN,NaN
11,Dairy Milk Chocolate,100,123.0,532.00,7.60,Purple,NaN,NaN,NaN
12,Glucon-D,118,500.0,360.00,0.00,Green,NaN,NaN,NaN
13,Naan Chip & Dip,60,70.0,403.50,9.10,Orange,NaN,NaN,NaN
14,Snickers,25,22.0,481.00,7.63,Brown,NaN,NaN,NaN
15,Bourbon,10,60.0,493.50,5.00,Purple,NaN,NaN,NaN
16,Gems,10,17.4,468.00,3.60,Purple,NaN,NaN,NaN

In [19]:
data2

,Name,Price,Quantity/Volume,Energy,Protein,Colour,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Maaza,10,135.0,44.00,0.00,Orange,NaN,NaN,NaN
1,Amul Masti,15,200.0,57.00,3.00,Green,NaN,NaN,NaN
2,Lays Wafer Style,10,26.0,539.00,6.70,Light Green,NaN,NaN,NaN
3,Paper Boat Chikki,10,25.0,497.60,13.90,White,NaN,NaN,NaN
4,Oreo Chocolate Creme,20,70.0,482.00,5.30,Blue,NaN,NaN,NaN
5,Perk Double,10,22.0,512.00,3.70,Light Blue,NaN,NaN,NaN
6,Cup Noodles Chilli Super Hot,50,70.0,444.49,10.20,Black,NaN,NaN,"Group: Joel,Rosh,Alen"
7,Kwality Wall's Divine Chocolate Chocochip,80,58.0,131.70,2.30,Brown,NaN,NaN,NaN
8,Kwality Wall's Cassatta,70,64.0,151.00,3.40,Pink,NaN,NaN,NaN
9,Monster Energy,125,350.0,167.00,0.00,Black,NaN,NaN,NaN
10,Geki Hot & Spicy Korean Chicken Flavour,49,80.0,476.95,6.79,Black,NaN,NaN,NaN
11,Dairy Milk Chocolate,100,123.0,532.00,7.60,Purple,NaN,NaN,NaN
12,Glucon-D,118,500.0,360.00,0.00,Green,NaN,NaN,NaN
13,Naan Chip & Dip,60,70.0,403.50,9.10,Orange,NaN,NaN,NaN
14,Snickers,25,22.0,481.00,7.63,Brown,NaN,NaN,NaN
15,Bourbon,10,60.0,493.50,5.00,Purple,NaN,NaN,NaN
16,Gems,10,17.4,468.00,3.60,Purple,NaN,NaN,NaN

In [126]:
d2 = data2.drop(columns=['Colour ', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'], axis=1)

In [130]:
d2=d2.rename(columns={'Quantity/Volume':"Quantity"})

In [131]:
d2

,Name,Price,Quantity,Energy,Protein
0,Maaza,10,135.0,44.00,0.00
1,Amul Masti,15,200.0,57.00,3.00
2,Lays Wafer Style,10,26.0,539.00,6.70
3,Paper Boat Chikki,10,25.0,497.60,13.90
4,Oreo Chocolate Creme,20,70.0,482.00,5.30
5,Perk Double,10,22.0,512.00,3.70
6,Cup Noodles Chilli Super Hot,50,70.0,444.49,10.20
7,Kwality Wall's Divine Chocolate Chocochip,80,58.0,131.70,2.30
8,Kwality Wall's Cassatta,70,64.0,151.00,3.40
9,Monster Energy,125,350.0,167.00,0.00
10,Geki Hot & Spicy Korean Chicken Flavour,49,80.0,476.95,6.79
11,Dairy Milk Chocolate,100,123.0,532.00,7.60
12,Glucon-D,118,500.0,360.00,0.00
13,Naan Chip & Dip,60,70.0,403.50,9.10
14,Snickers,25,22.0,481.00,7.63
15,Bourbon,10,60.0,493.50,5.00
16,Gems,10,17.4,468.00,3.60

In [50]:
# d2.rename(columns={'Name': 'Item Name','Price':'Price (In Rs)'})

                                    Item Name  Price (In Rs)
0                                       Maaza             10
1                                  Amul Masti             15
2                            Lays Wafer Style             10
3                           Paper Boat Chikki             10
4                        Oreo Chocolate Creme             20
5                                 Perk Double             10
6                Cup Noodles Chilli Super Hot             50
7   Kwality Wall's Divine Chocolate Chocochip             80
8                     Kwality Wall's Cassatta             70
9                             Monster Energy             125
10   Geki Hot & Spicy Korean Chicken Flavour              49
11                      Dairy Milk Chocolate             100
12                                   Glucon-D            118
13                            Naan Chip & Dip             60
14                                   Snickers             25
15                                    Bourbon             10
16                                       Gems             10

In [132]:
d2.isnull().sum()

Name        0
Price       0
Quantity    0
Energy      0
Protein     0
dtype: int64

In [52]:
# d2

                                         Name  Price
0                                       Maaza     10
1                                  Amul Masti     15
2                            Lays Wafer Style     10
3                           Paper Boat Chikki     10
4                        Oreo Chocolate Creme     20
5                                 Perk Double     10
6                Cup Noodles Chilli Super Hot     50
7   Kwality Wall's Divine Chocolate Chocochip     80
8                     Kwality Wall's Cassatta     70
9                             Monster Energy     125
10   Geki Hot & Spicy Korean Chicken Flavour      49
11                      Dairy Milk Chocolate     100
12                                   Glucon-D    118
13                            Naan Chip & Dip     60
14                                   Snickers     25
15                                    Bourbon     10
16                                       Gems     10

In [ ]:
# cleaning of data3

In [53]:
data3

,item,Price,Category,mgf date,expiry date,How to store,Brand
0,Hair colour,190.0,body care,2022-07-01,2025-04-01,cool and dry,Streax
1,Veg Ramen,50.0,food,2024-01-05,2024-11-04,room temperature,Niissin
2,cassata icecream,70.0,food,2023-08-28,2024-08-23,Freezer,havmore
3,body spray,225.0,body care,2023-08-01,2026-07-01,cool and dry,yardley
4,CANVAS,37.0,art,2023-06-01,NaT,shelf,NaN
5,gatsby,220.0,Hair Care,2023-01-01,NaT,Shelf,NaN
6,Lip Balm,5.0,body care,2023-07-01,2026-06-01,shelf,Vasline
7,wax strips,109.0,Body care,2023-05-01,2026-05-01,Shelf,Veet
8,ChocoBar,60.0,food,2024-01-01,2024-12-01,Freezer,Havmore
9,Wet wipes,80.0,skin care,2023-11-01,2025-11-01,Shelf,Ice Berg
10,Oreo Icecream,60.0,food,2023-12-13,2024-12-12,Freezer,Havmore
11,Naan chip &dip,60.0,food,2023-11-06,2024-05-05,room temprature,wingreens farms
12,gems,10.0,food,2021-01-01,2024-12-01,room teperature,Cadbury
13,Baby Rub,50.0,body care,2023-06-01,2025-05-01,shelf,Vasline
14,chilli guava juice,20.0,beverages,2024-02-02,2024-10-01,Feezer,paper boat
15,Ocean water,60.0,beverages,2024-02-01,2025-01-31,Freezer,O'cean
16,face wash,75.0,skin care,2022-04-01,2025-03-01,Shelf,himalaya
17,Antiseptic liquid,243.0,Health,2023-11-01,2027-04-01,shelf,Dettol
18,body spray,60.0,body spray,2023-06-01,2028-06-01,Shelf,Engage On
19,Fevicol,60.0,Art,2023-06-01,NaT,shelf,NaN
20,zuci(hand sanitizer),NaN,NaN,NaT,NaT,NaN,NaN
21,Acrylic colour,210.0,Art,2022-02-01,NaT,Shelf,Fiber Castle
22,inhaler,50.0,NaN,2023-07-01,2025-06-01,Shelf,Vicks
23,Poster colours,100.0,Art,2023-11-01,NaT,Shelf,Fiber Castle
24,cup noodles,50.0,food,2024-01-30,2024-09-29,NaN,Nissin
25,Deodorant,249.0,Body care,2022-11-01,2025-10-01,Shelf,Black Veltives
26,treat(cream wafers),10.0,food,2023-11-14,2024-06-11,Shelf,Britannia
27,Bath soap,65.0,body care,2023-11-22,2026-05-20,Shelf,Dove
28,geki(hot and spicy lorean chicken noodles),49.0,food,2024-01-05,2024-11-04,NaN,Nissin
29,chocolate gold,120.0,food,2024-02-03,2024-11-01,Shelf,cadbury
30,Soap Strips,5.0,body care,2022-12-01,NaT,Shelf,NaN
31,cake gobbles,25.0,food,2024-02-13,2024-06-12,Sheif,Britannia
32,red bulls(energy drink),125.0,beverages,2023-05-23,2025-06-04,Fridge,red bulls
33,coco cola,40.0,beverages,2024-12-23,2024-06-23,Fridge,coco cola
34,thums up,40.0,beverages,2023-12-18,2024-08-18,Fridge,NaN
35,glucon d,189.0,energy drink,2023-02-16,2024-08-15,Shelf,NaN
36,snickers,20.0,food,2024-01-20,2025-01-19,Shelf,snikers
37,Chips,10.0,food,2024-02-22,2024-06-21,Boxes,Lays
38,2-Minute Masala Noodles,14.0,food,NaT,NaT,Shelf,Maggi
39,Milkshake,35.0,beverages,NaT,NaT,Frezeer,Cavens

In [65]:
data3

,item,Price,Category,mgf date,expiry date,Brand
0,Hair colour,190.0,body care,2022-07-01,2025-04-01,Streax
1,Veg Ramen,50.0,food,2024-01-05,2024-11-04,Niissin
2,cassata icecream,70.0,food,2023-08-28,2024-08-23,havmore
3,body spray,225.0,body care,2023-08-01,2026-07-01,yardley
4,CANVAS,37.0,art,2023-06-01,NaT,NaN
5,gatsby,220.0,Hair Care,2023-01-01,NaT,NaN
6,Lip Balm,5.0,body care,2023-07-01,2026-06-01,Vasline
7,wax strips,109.0,Body care,2023-05-01,2026-05-01,Veet
8,ChocoBar,60.0,food,2024-01-01,2024-12-01,Havmore
9,Wet wipes,80.0,skin care,2023-11-01,2025-11-01,Ice Berg
10,Oreo Icecream,60.0,food,2023-12-13,2024-12-12,Havmore
11,Naan chip &dip,60.0,food,2023-11-06,2024-05-05,wingreens farms
12,gems,10.0,food,2021-01-01,2024-12-01,Cadbury
13,Baby Rub,50.0,body care,2023-06-01,2025-05-01,Vasline
14,chilli guava juice,20.0,beverages,2024-02-02,2024-10-01,paper boat
15,Ocean water,60.0,beverages,2024-02-01,2025-01-31,O'cean
16,face wash,75.0,skin care,2022-04-01,2025-03-01,himalaya
17,Antiseptic liquid,243.0,Health,2023-11-01,2027-04-01,Dettol
18,body spray,60.0,body spray,2023-06-01,2028-06-01,Engage On
19,Fevicol,60.0,Art,2023-06-01,NaT,NaN
20,zuci(hand sanitizer),NaN,NaN,NaT,NaT,NaN
21,Acrylic colour,210.0,Art,2022-02-01,NaT,Fiber Castle
22,inhaler,50.0,NaN,2023-07-01,2025-06-01,Vicks
23,Poster colours,100.0,Art,2023-11-01,NaT,Fiber Castle
24,cup noodles,50.0,food,2024-01-30,2024-09-29,Nissin
25,Deodorant,249.0,Body care,2022-11-01,2025-10-01,Black Veltives
26,treat(cream wafers),10.0,food,2023-11-14,2024-06-11,Britannia
27,Bath soap,65.0,body care,2023-11-22,2026-05-20,Dove
28,geki(hot and spicy lorean chicken noodles),49.0,food,2024-01-05,2024-11-04,Nissin
29,chocolate gold,120.0,food,2024-02-03,2024-11-01,cadbury
30,Soap Strips,5.0,body care,2022-12-01,NaT,NaN
31,cake gobbles,25.0,food,2024-02-13,2024-06-12,Britannia
32,red bulls(energy drink),125.0,beverages,2023-05-23,2025-06-04,red bulls
33,coco cola,40.0,beverages,2024-12-23,2024-06-23,coco cola
34,thums up,40.0,beverages,2023-12-18,2024-08-18,NaN
35,glucon d,189.0,energy drink,2023-02-16,2024-08-15,NaN
36,snickers,20.0,food,2024-01-20,2025-01-19,snikers
37,Chips,10.0,food,2024-02-22,2024-06-21,Lays
38,2-Minute Masala Noodles,14.0,food,NaT,NaT,Maggi
39,Milkshake,35.0,beverages,NaT,NaT,Cavens

In [67]:
# d3 = data3.drop(['How to store'], axis=1, inplace=True)

In [134]:
data3.rename(columns={'item ': 'Name','Price ':'Price'})

,Name,Price,Category,mgf date,expiry date,How to store,Brand
0,Hair colour,190.0,body care,2022-07-01,2025-04-01,cool and dry,Streax
1,Veg Ramen,50.0,food,2024-01-05,2024-11-04,room temperature,Niissin
2,cassata icecream,70.0,food,2023-08-28,2024-08-23,Freezer,havmore
3,body spray,225.0,body care,2023-08-01,2026-07-01,cool and dry,yardley
4,CANVAS,37.0,art,2023-06-01,NaT,shelf,NaN
5,gatsby,220.0,Hair Care,2023-01-01,NaT,Shelf,NaN
6,Lip Balm,5.0,body care,2023-07-01,2026-06-01,shelf,Vasline
7,wax strips,109.0,Body care,2023-05-01,2026-05-01,Shelf,Veet
8,ChocoBar,60.0,food,2024-01-01,2024-12-01,Freezer,Havmore
9,Wet wipes,80.0,skin care,2023-11-01,2025-11-01,Shelf,Ice Berg
10,Oreo Icecream,60.0,food,2023-12-13,2024-12-12,Freezer,Havmore
11,Naan chip &dip,60.0,food,2023-11-06,2024-05-05,room temprature,wingreens farms
12,gems,10.0,food,2021-01-01,2024-12-01,room teperature,Cadbury
13,Baby Rub,50.0,body care,2023-06-01,2025-05-01,shelf,Vasline
14,chilli guava juice,20.0,beverages,2024-02-02,2024-10-01,Feezer,paper boat
15,Ocean water,60.0,beverages,2024-02-01,2025-01-31,Freezer,O'cean
16,face wash,75.0,skin care,2022-04-01,2025-03-01,Shelf,himalaya
17,Antiseptic liquid,243.0,Health,2023-11-01,2027-04-01,shelf,Dettol
18,body spray,60.0,body spray,2023-06-01,2028-06-01,Shelf,Engage On
19,Fevicol,60.0,Art,2023-06-01,NaT,shelf,NaN
20,zuci(hand sanitizer),NaN,NaN,NaT,NaT,NaN,NaN
21,Acrylic colour,210.0,Art,2022-02-01,NaT,Shelf,Fiber Castle
22,inhaler,50.0,NaN,2023-07-01,2025-06-01,Shelf,Vicks
23,Poster colours,100.0,Art,2023-11-01,NaT,Shelf,Fiber Castle
24,cup noodles,50.0,food,2024-01-30,2024-09-29,NaN,Nissin
25,Deodorant,249.0,Body care,2022-11-01,2025-10-01,Shelf,Black Veltives
26,treat(cream wafers),10.0,food,2023-11-14,2024-06-11,Shelf,Britannia
27,Bath soap,65.0,body care,2023-11-22,2026-05-20,Shelf,Dove
28,geki(hot and spicy lorean chicken noodles),49.0,food,2024-01-05,2024-11-04,NaN,Nissin
29,chocolate gold,120.0,food,2024-02-03,2024-11-01,Shelf,cadbury
30,Soap Strips,5.0,body care,2022-12-01,NaT,Shelf,NaN
31,cake gobbles,25.0,food,2024-02-13,2024-06-12,Sheif,Britannia
32,red bulls(energy drink),125.0,beverages,2023-05-23,2025-06-04,Fridge,red bulls
33,coco cola,40.0,beverages,2024-12-23,2024-06-23,Fridge,coco cola
34,thums up,40.0,beverages,2023-12-18,2024-08-18,Fridge,NaN
35,glucon d,189.0,energy drink,2023-02-16,2024-08-15,Shelf,NaN
36,snickers,20.0,food,2024-01-20,2025-01-19,Shelf,snikers
37,Chips,10.0,food,2024-02-22,2024-06-21,Boxes,Lays
38,2-Minute Masala Noodles,14.0,food,NaT,NaT,Shelf,Maggi
39,Milkshake,35.0,beverages,NaT,NaT,Frezeer,Cavens

In [138]:
data3.drop(["How to store"],axis=1,inplace=True)
data3

,item,Price,Category,mgf date,expiry date,Brand
0,Hair colour,190.0,body care,2022-07-01,2025-04-01,Streax
1,Veg Ramen,50.0,food,2024-01-05,2024-11-04,Niissin
2,cassata icecream,70.0,food,2023-08-28,2024-08-23,havmore
3,body spray,225.0,body care,2023-08-01,2026-07-01,yardley
4,CANVAS,37.0,art,2023-06-01,NaT,NaN
5,gatsby,220.0,Hair Care,2023-01-01,NaT,NaN
6,Lip Balm,5.0,body care,2023-07-01,2026-06-01,Vasline
7,wax strips,109.0,Body care,2023-05-01,2026-05-01,Veet
8,ChocoBar,60.0,food,2024-01-01,2024-12-01,Havmore
9,Wet wipes,80.0,skin care,2023-11-01,2025-11-01,Ice Berg
10,Oreo Icecream,60.0,food,2023-12-13,2024-12-12,Havmore
11,Naan chip &dip,60.0,food,2023-11-06,2024-05-05,wingreens farms
12,gems,10.0,food,2021-01-01,2024-12-01,Cadbury
13,Baby Rub,50.0,body care,2023-06-01,2025-05-01,Vasline
14,chilli guava juice,20.0,beverages,2024-02-02,2024-10-01,paper boat
15,Ocean water,60.0,beverages,2024-02-01,2025-01-31,O'cean
16,face wash,75.0,skin care,2022-04-01,2025-03-01,himalaya
17,Antiseptic liquid,243.0,Health,2023-11-01,2027-04-01,Dettol
18,body spray,60.0,body spray,2023-06-01,2028-06-01,Engage On
19,Fevicol,60.0,Art,2023-06-01,NaT,NaN
20,zuci(hand sanitizer),NaN,NaN,NaT,NaT,NaN
21,Acrylic colour,210.0,Art,2022-02-01,NaT,Fiber Castle
22,inhaler,50.0,NaN,2023-07-01,2025-06-01,Vicks
23,Poster colours,100.0,Art,2023-11-01,NaT,Fiber Castle
24,cup noodles,50.0,food,2024-01-30,2024-09-29,Nissin
25,Deodorant,249.0,Body care,2022-11-01,2025-10-01,Black Veltives
26,treat(cream wafers),10.0,food,2023-11-14,2024-06-11,Britannia
27,Bath soap,65.0,body care,2023-11-22,2026-05-20,Dove
28,geki(hot and spicy lorean chicken noodles),49.0,food,2024-01-05,2024-11-04,Nissin
29,chocolate gold,120.0,food,2024-02-03,2024-11-01,cadbury
30,Soap Strips,5.0,body care,2022-12-01,NaT,NaN
31,cake gobbles,25.0,food,2024-02-13,2024-06-12,Britannia
32,red bulls(energy drink),125.0,beverages,2023-05-23,2025-06-04,red bulls
33,coco cola,40.0,beverages,2024-12-23,2024-06-23,coco cola
34,thums up,40.0,beverages,2023-12-18,2024-08-18,NaN
35,glucon d,189.0,energy drink,2023-02-16,2024-08-15,NaN
36,snickers,20.0,food,2024-01-20,2025-01-19,snikers
37,Chips,10.0,food,2024-02-22,2024-06-21,Lays
38,2-Minute Masala Noodles,14.0,food,NaT,NaT,Maggi
39,Milkshake,35.0,beverages,NaT,NaT,Cavens

In [139]:
data3=data3.rename(columns={"item ":"Name","Price ":"Price","Category ":"Category","expiry date ":"exp date"})
data3

,Name,Price,Category,mgf date,exp date,Brand
0,Hair colour,190.0,body care,2022-07-01,2025-04-01,Streax
1,Veg Ramen,50.0,food,2024-01-05,2024-11-04,Niissin
2,cassata icecream,70.0,food,2023-08-28,2024-08-23,havmore
3,body spray,225.0,body care,2023-08-01,2026-07-01,yardley
4,CANVAS,37.0,art,2023-06-01,NaT,NaN
5,gatsby,220.0,Hair Care,2023-01-01,NaT,NaN
6,Lip Balm,5.0,body care,2023-07-01,2026-06-01,Vasline
7,wax strips,109.0,Body care,2023-05-01,2026-05-01,Veet
8,ChocoBar,60.0,food,2024-01-01,2024-12-01,Havmore
9,Wet wipes,80.0,skin care,2023-11-01,2025-11-01,Ice Berg
10,Oreo Icecream,60.0,food,2023-12-13,2024-12-12,Havmore
11,Naan chip &dip,60.0,food,2023-11-06,2024-05-05,wingreens farms
12,gems,10.0,food,2021-01-01,2024-12-01,Cadbury
13,Baby Rub,50.0,body care,2023-06-01,2025-05-01,Vasline
14,chilli guava juice,20.0,beverages,2024-02-02,2024-10-01,paper boat
15,Ocean water,60.0,beverages,2024-02-01,2025-01-31,O'cean
16,face wash,75.0,skin care,2022-04-01,2025-03-01,himalaya
17,Antiseptic liquid,243.0,Health,2023-11-01,2027-04-01,Dettol
18,body spray,60.0,body spray,2023-06-01,2028-06-01,Engage On
19,Fevicol,60.0,Art,2023-06-01,NaT,NaN
20,zuci(hand sanitizer),NaN,NaN,NaT,NaT,NaN
21,Acrylic colour,210.0,Art,2022-02-01,NaT,Fiber Castle
22,inhaler,50.0,NaN,2023-07-01,2025-06-01,Vicks
23,Poster colours,100.0,Art,2023-11-01,NaT,Fiber Castle
24,cup noodles,50.0,food,2024-01-30,2024-09-29,Nissin
25,Deodorant,249.0,Body care,2022-11-01,2025-10-01,Black Veltives
26,treat(cream wafers),10.0,food,2023-11-14,2024-06-11,Britannia
27,Bath soap,65.0,body care,2023-11-22,2026-05-20,Dove
28,geki(hot and spicy lorean chicken noodles),49.0,food,2024-01-05,2024-11-04,Nissin
29,chocolate gold,120.0,food,2024-02-03,2024-11-01,cadbury
30,Soap Strips,5.0,body care,2022-12-01,NaT,NaN
31,cake gobbles,25.0,food,2024-02-13,2024-06-12,Britannia
32,red bulls(energy drink),125.0,beverages,2023-05-23,2025-06-04,red bulls
33,coco cola,40.0,beverages,2024-12-23,2024-06-23,coco cola
34,thums up,40.0,beverages,2023-12-18,2024-08-18,NaN
35,glucon d,189.0,energy drink,2023-02-16,2024-08-15,NaN
36,snickers,20.0,food,2024-01-20,2025-01-19,snikers
37,Chips,10.0,food,2024-02-22,2024-06-21,Lays
38,2-Minute Masala Noodles,14.0,food,NaT,NaT,Maggi
39,Milkshake,35.0,beverages,NaT,NaT,Cavens

In [58]:
print(data3.columns)

Index(['item ', 'Price ', 'Category ', 'mgf date', 'expiry date ',
       'How to store', 'Brand'],
      dtype='object')

In [ ]:
# data 4 cleaning

In [69]:
data4

,S.no,Name,Price,Category,Sub category,Brand name
0,1,Cassata,70.0,Confectionery,ice cream,Kwality walls
1,2,Chocolate choco chip,80.0,Confectionery,ice cream,Kwality walls
2,3,Oreo cup,80.0,Confectionery,ice cream,Kwality walls
3,4,Chocolate magic sundae,100.0,Confectionery,ice cream,Amul
4,5,Chocolate brownie,120.0,Confectionery,ice cream,Kwality walls
...,...,...,...,...,...,...
79,80,tasty nuts,10.0,savory products,nuts,haldiram
80,81,aloo bhujia,10.0,savory products,namkeen,haldiram
81,82,moong dal,10.0,savory products,namkeen,haldiram
82,83,achari masti chips,10.0,savory products,chips,itc
83,84,very peri peri chips,10.0,savory products,chips,itc

In [70]:
#data4.drop(['Sub category'], axis=1, inplace=True)

In [72]:
#data4.drop(['S.no'], axis=1, inplace=True)

In [141]:
d4=data4.rename(columns={'Name': 'Name','Price':'Price','Brand name':'Brand'})

In [142]:
d4

,S.no,Name,Price,Category,Sub category,Brand
0,1,Cassata,70.0,Confectionery,ice cream,Kwality walls
1,2,Chocolate choco chip,80.0,Confectionery,ice cream,Kwality walls
2,3,Oreo cup,80.0,Confectionery,ice cream,Kwality walls
3,4,Chocolate magic sundae,100.0,Confectionery,ice cream,Amul
4,5,Chocolate brownie,120.0,Confectionery,ice cream,Kwality walls
...,...,...,...,...,...,...
79,80,tasty nuts,10.0,savory products,nuts,haldiram
80,81,aloo bhujia,10.0,savory products,namkeen,haldiram
81,82,moong dal,10.0,savory products,namkeen,haldiram
82,83,achari masti chips,10.0,savory products,chips,itc
83,84,very peri peri chips,10.0,savory products,chips,itc

In [152]:
d4.drop(["Category","S.no"],axis=1,inplace=True)

In [153]:
d4

                      Name  Price Sub category          Brand
0                  Cassata   70.0    ice cream  Kwality walls
1     Chocolate choco chip   80.0    ice cream  Kwality walls
2                 Oreo cup   80.0    ice cream  Kwality walls
3   Chocolate magic sundae  100.0    ice cream           Amul
4        Chocolate brownie  120.0    ice cream  Kwality walls
..                     ...    ...          ...            ...
79              tasty nuts   10.0         nuts       haldiram
80             aloo bhujia   10.0      namkeen       haldiram
81               moong dal   10.0      namkeen       haldiram
82      achari masti chips   10.0        chips            itc
83    very peri peri chips   10.0        chips            itc

[84 rows x 4 columns]

In [ ]:
# cleaning data5

In [78]:
data5

,Category Name,Colour,Price (In Rs),Qty(In gm or ml),Category
0,Noodles,Orange,50,74,Food
1,Lays,Green,10,26,Food
2,Minereal Wter,No Colour,10,500,Liquid
3,Perk,Blue,10,22,Food
4,Monster Energy,Black,130,350,Liquid
5,AloFruit,Red,20,180,Liquid
6,Winkin Cow,Pink,40,250,Liquid
7,Red Bull,Blue,120,350,Liquid
8,Max Protein,Brown,75,80,Food
9,Oreo,Blue,10,25,Food
10,Tic Tak,White,10,10,Food
11,Good Day,Purple,20,30,Food
12,Brownie,Brown,50,100,Food
13,Tea,Light Brown,15,80,Liquid
14,Coffe,Light Brown,20,100,Liquid
15,Softy,Pista Green,35,100,Food
16,ice cream,Dark Brown,110,120,Food
17,Patties,Golden,35,200,Food
18,Sandwich,White,50,150,Food
19,Bourbon,Purple,10,20,Food
20,Perfume,Red,180,100,Toletries
21,Pens,Black,30,5,Stationary
22,Pencil,Grey,5,3,Stationary
23,Book,Multicolour,60,70,Stationary
24,KitKat,Red,10,25,Food
25,Mars,Black,70,120,Food
26,Soap,White,65,100,Toletries
27,Shampo,White,159,250,Toletries
28,Keyboard,Black,1200,600,Electronics
29,Mouse,Black,499,100,Electronics
30,Gel,Brown,469,250,Toletries
31,Cake,Black,500,500,Food
32,Toffe,Multicolour,1,1,Food
33,Mugs,Black and White,280,200,Gift Articles
34,Bottle,White,160,150,Gift Articles
35,Canvas,White,200,50,Gift Articles
36,Toothpaste,White,160,105,Toletries
37,Keychain,Silver,75,35,Gift Articles
38,Clock,Multicolour,560,450,Gift Articles

In [143]:
data5.drop(['Colour'], axis=1, inplace=True)

In [144]:
data5

     Category Name  Price (In Rs)  Qty(In gm or ml)       Category
0          Noodles             50                74           Food
1             Lays             10                26           Food
2   Minereal Wter              10               500         Liquid
3             Perk             10                22           Food
4   Monster Energy            130               350         Liquid
5         AloFruit             20               180         Liquid
6       Winkin Cow             40               250         Liquid
7         Red Bull            120               350         Liquid
8     Max Protein              75                80           Food
9             Oreo             10                25           Food
10        Tic Tak              10                10           Food
11        Good Day             20                30           Food
12         Brownie             50               100           Food
13            Tea              15                80         Liquid
14           Coffe             20               100         Liquid
15          Softy              35               100           Food
16       ice cream            110               120           Food
17         Patties             35               200           Food
18        Sandwich             50               150           Food
19         Bourbon             10                20           Food
20         Perfume            180               100      Toletries
21            Pens             30                 5     Stationary
22          Pencil              5                 3     Stationary
23            Book             60                70     Stationary
24          KitKat             10                25           Food
25            Mars             70               120           Food
26            Soap             65               100      Toletries
27          Shampo            159               250      Toletries
28        Keyboard           1200               600    Electronics
29           Mouse            499               100    Electronics
30             Gel            469               250      Toletries
31            Cake            500               500           Food
32           Toffe              1                 1           Food
33            Mugs            280               200  Gift Articles
34          Bottle            160               150  Gift Articles
35          Canvas            200                50  Gift Articles
36      Toothpaste            160               105      Toletries
37        Keychain             75                35  Gift Articles
38           Clock            560               450  Gift Articles

In [145]:
d5= data5.rename(columns={"Category Name":"Name","Price (In Rs)":"Price","Qty(In gm or ml)":"Quantity"})

In [146]:
d5

              Name  Price  Quantity       Category
0          Noodles     50        74           Food
1             Lays     10        26           Food
2   Minereal Wter      10       500         Liquid
3             Perk     10        22           Food
4   Monster Energy    130       350         Liquid
5         AloFruit     20       180         Liquid
6       Winkin Cow     40       250         Liquid
7         Red Bull    120       350         Liquid
8     Max Protein      75        80           Food
9             Oreo     10        25           Food
10        Tic Tak      10        10           Food
11        Good Day     20        30           Food
12         Brownie     50       100           Food
13            Tea      15        80         Liquid
14           Coffe     20       100         Liquid
15          Softy      35       100           Food
16       ice cream    110       120           Food
17         Patties     35       200           Food
18        Sandwich     50       150           Food
19         Bourbon     10        20           Food
20         Perfume    180       100      Toletries
21            Pens     30         5     Stationary
22          Pencil      5         3     Stationary
23            Book     60        70     Stationary
24          KitKat     10        25           Food
25            Mars     70       120           Food
26            Soap     65       100      Toletries
27          Shampo    159       250      Toletries
28        Keyboard   1200       600    Electronics
29           Mouse    499       100    Electronics
30             Gel    469       250      Toletries
31            Cake    500       500           Food
32           Toffe      1         1           Food
33            Mugs    280       200  Gift Articles
34          Bottle    160       150  Gift Articles
35          Canvas    200        50  Gift Articles
36      Toothpaste    160       105      Toletries
37        Keychain     75        35  Gift Articles
38           Clock    560       450  Gift Articles

In [ ]:
# cleaning data 6

In [150]:
data6

                       Name  Price    Cateogry  Weight
0                   Monster    125       drink   254ml
1                  red bull    125       drink   250ml
2            protien water     150       drink   500ml
3                alo fruit      20       drink   200ml
4               winking cow     35       drink   180ml
5         electrolyte water     30       drink   250ml
6                   nescafe     70       drink   180ml
7          chicken sandwich     50        food     NaN
8           paneer sandwich     50        food     NaN
9              veg sandwich     40        food     NaN
10            corn sandwich     50        food     NaN
11     lays sundries chilli     10       chips     28g
12           kurkure tamato     10       chips     26g
13                 puffcorn     10       chips     26g
14                 cornetto     35   ice cream   115ml
15                  cassata     60   ice cream   150ml
16              vanilla cup     20   ice cream    90ml
17                 oreo cup     60   ice cream   100ml
18          dry fruits cup      50   ice cream   100ml
19         feast choco bar      40   ice cream     64g
20                 parle g      15    biscuits    100g
21  parle g oats n berries      10    biscuits  93.75g
22                 bourbon      20    biscuits     60g
23                 bonvita      10    biscuits  41.85g
24                    marie     20    biscuits    120g
25                    oreo      10    biscuits  43.75g
26                  goodday     10    biscuits   52.2g
27               dairy milk     10  chocolates     23g
28                     perk     10  chocolates     22g
29                 snickers     20  chocolates     22g
30                     fuse     40  chocolates     45g
31                  5 star      35  chocolates     10g
32                     gems      5  chocolates  10.50g

In [148]:
data6.drop(["Index","Packaging Type"],axis=1,inplace=True)

In [151]:
data6

                       Name  Price    Cateogry  Weight
0                   Monster    125       drink   254ml
1                  red bull    125       drink   250ml
2            protien water     150       drink   500ml
3                alo fruit      20       drink   200ml
4               winking cow     35       drink   180ml
5         electrolyte water     30       drink   250ml
6                   nescafe     70       drink   180ml
7          chicken sandwich     50        food     NaN
8           paneer sandwich     50        food     NaN
9              veg sandwich     40        food     NaN
10            corn sandwich     50        food     NaN
11     lays sundries chilli     10       chips     28g
12           kurkure tamato     10       chips     26g
13                 puffcorn     10       chips     26g
14                 cornetto     35   ice cream   115ml
15                  cassata     60   ice cream   150ml
16              vanilla cup     20   ice cream    90ml
17                 oreo cup     60   ice cream   100ml
18          dry fruits cup      50   ice cream   100ml
19         feast choco bar      40   ice cream     64g
20                 parle g      15    biscuits    100g
21  parle g oats n berries      10    biscuits  93.75g
22                 bourbon      20    biscuits     60g
23                 bonvita      10    biscuits  41.85g
24                    marie     20    biscuits    120g
25                    oreo      10    biscuits  43.75g
26                  goodday     10    biscuits   52.2g
27               dairy milk     10  chocolates     23g
28                     perk     10  chocolates     22g
29                 snickers     20  chocolates     22g
30                     fuse     40  chocolates     45g
31                  5 star      35  chocolates     10g
32                     gems      5  chocolates  10.50g

In [90]:
#data6.drop(['Weight'], axis=1, inplace=True)

In [91]:
#data6.drop(['Packaging Type'], axis=1, inplace=True)

In [92]:
#data6.drop(['Index'], axis=1, inplace=True)

In [94]:
d6 = data6.rename(columns={'Name': 'Item Name','Price':'Price (In Rs)'})

In [95]:
# d6

                  Item Name  Price (In Rs)    Cateogry
0                   Monster            125       drink
1                  red bull            125       drink
2            protien water             150       drink
3                alo fruit              20       drink
4               winking cow             35       drink
5         electrolyte water             30       drink
6                   nescafe             70       drink
7          chicken sandwich             50        food
8           paneer sandwich             50        food
9              veg sandwich             40        food
10            corn sandwich             50        food
11     lays sundries chilli             10       chips
12           kurkure tamato             10       chips
13                 puffcorn             10       chips
14                 cornetto             35   ice cream
15                  cassata             60   ice cream
16              vanilla cup             20   ice cream
17                 oreo cup             60   ice cream
18          dry fruits cup              50   ice cream
19         feast choco bar              40   ice cream
20                 parle g              15    biscuits
21  parle g oats n berries              10    biscuits
22                 bourbon              20    biscuits
23                 bonvita              10    biscuits
24                    marie             20    biscuits
25                    oreo              10    biscuits
26                  goodday             10    biscuits
27               dairy milk             10  chocolates
28                     perk             10  chocolates
29                 snickers             20  chocolates
30                     fuse             40  chocolates
31                  5 star              35  chocolates
32                     gems              5  chocolates

In [154]:
df=pd.concat([data1,d2,data3,d4,d5,d6])
df

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
1,Lays,10.0,26.0,Food,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
2,Minereal Wter,10.0,500.0,Liquid,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
3,Perk,10.0,22.0,Food,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
4,Monster Energy,130.0,350.0,Liquid,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,perk,10.0,chocolates
29,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,snickers,20.0,chocolates
30,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,fuse,40.0,chocolates
31,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,5 star,35.0,chocolates
32,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,gems,5.0,chocolates

In [98]:
#Using the concat function to combine the dataframes together because the merge function didn't work with these dataframes and we
#have more than two dataframes to combine.

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 248 entries, 0 to 32
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           215 non-null    object
 1   Price          211 non-null    float64
 2   Quantity       91 non-null     float64
 3   Category       112 non-null    object
 4   Energy         17 non-null     float64
 5   Protein        17 non-null     float64
 6   mgf date       37 non-null     datetime64[ns]
 7   exp date       31 non-null     datetime64[ns]
 8   Brand          117 non-null    object
 9   Sub category   84 non-null     object
 10  Item Name      33 non-null     object
 11  Price (In Rs)  33 non-null     float64
 12  Cateogry       33 non-null     object
dtypes: datetime64[ns](2), float64(5), object(6)
memory usage: 27.1+ KB

In [156]:
df.isnull().sum()

Name              33
Price             37
Quantity         157
Category         136
Energy           231
Protein          231
mgf date         211
exp date         217
Brand            131
Sub category     164
Item Name        215
Price (In Rs)    215
Cateogry         215
dtype: int64

In [157]:
df.replace(np.nan,"",inplace= True)
df

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,,,NaT,NaT,,,,,
1,Lays,10.0,26.0,Food,,,NaT,NaT,,,,,
2,Minereal Wter,10.0,500.0,Liquid,,,NaT,NaT,,,,,
3,Perk,10.0,22.0,Food,,,NaT,NaT,,,,,
4,Monster Energy,130.0,350.0,Liquid,,,NaT,NaT,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,,,,,,,NaT,NaT,,,perk,10.0,chocolates
29,,,,,,,NaT,NaT,,,snickers,20.0,chocolates
30,,,,,,,NaT,NaT,,,fuse,40.0,chocolates
31,,,,,,,NaT,NaT,,,5 star,35.0,chocolates
32,,,,,,,NaT,NaT,,,gems,5.0,chocolates

In [158]:
df['mgf date'] = df['mgf date'].apply(lambda x: '' if pd.isna(x) else x)
df['exp date'] = df['exp date'].apply(lambda x: '' if pd.isna(x) else x)
df

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,,,,,,,,,
1,Lays,10.0,26.0,Food,,,,,,,,,
2,Minereal Wter,10.0,500.0,Liquid,,,,,,,,,
3,Perk,10.0,22.0,Food,,,,,,,,,
4,Monster Energy,130.0,350.0,Liquid,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,,,,,,,,,,,perk,10.0,chocolates
29,,,,,,,,,,,snickers,20.0,chocolates
30,,,,,,,,,,,fuse,40.0,chocolates
31,,,,,,,,,,,5 star,35.0,chocolates
32,,,,,,,,,,,gems,5.0,chocolates

In [159]:
df.isnull().sum()

Name             0
Price            0
Quantity         0
Category         0
Energy           0
Protein          0
mgf date         0
exp date         0
Brand            0
Sub category     0
Item Name        0
Price (In Rs)    0
Cateogry         0
dtype: int64

In [160]:
df = df.reset_index()

In [161]:
df

,index,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,0,Noodles,50.0,74.0,Food,,,,,,,,,
1,1,Lays,10.0,26.0,Food,,,,,,,,,
2,2,Minereal Wter,10.0,500.0,Liquid,,,,,,,,,
3,3,Perk,10.0,22.0,Food,,,,,,,,,
4,4,Monster Energy,130.0,350.0,Liquid,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,28,,,,,,,,,,,perk,10.0,chocolates
244,29,,,,,,,,,,,snickers,20.0,chocolates
245,30,,,,,,,,,,,fuse,40.0,chocolates
246,31,,,,,,,,,,,5 star,35.0,chocolates
247,32,,,,,,,,,,,gems,5.0,chocolates

In [162]:
df.drop(["index"],axis=1,inplace=True)
df

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,,,,,,,,,
1,Lays,10.0,26.0,Food,,,,,,,,,
2,Minereal Wter,10.0,500.0,Liquid,,,,,,,,,
3,Perk,10.0,22.0,Food,,,,,,,,,
4,Monster Energy,130.0,350.0,Liquid,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,,,,,,,,,,,perk,10.0,chocolates
244,,,,,,,,,,,snickers,20.0,chocolates
245,,,,,,,,,,,fuse,40.0,chocolates
246,,,,,,,,,,,5 star,35.0,chocolates
247,,,,,,,,,,,gems,5.0,chocolates

# Questions-

# First 5 items

In [163]:
df.head(5)

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,,,,,,,,,
1,Lays,10.0,26.0,Food,,,,,,,,,
2,Minereal Wter,10.0,500.0,Liquid,,,,,,,,,
3,Perk,10.0,22.0,Food,,,,,,,,,
4,Monster Energy,130.0,350.0,Liquid,,,,,,,,,

# Last 5 items

In [164]:
df.tail(5)

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
243,,,,,,,,,,,perk,10.0,chocolates
244,,,,,,,,,,,snickers,20.0,chocolates
245,,,,,,,,,,,fuse,40.0,chocolates
246,,,,,,,,,,,5 star,35.0,chocolates
247,,,,,,,,,,,gems,5.0,chocolates

# Categorizing items into food, bodycare and others

In [169]:
import re
import pandas as pd

food = r'(?i)(?:drink|Food|food|chips|ice cream|biscuits|chocolates|Liquid|beverages|energy drink|nuts|namkeen|candy|coffee|tea)'
body_care = r'(?i)(?:Toletries|body care|Hair Care|Body care|skin care|Health|body spray)'

def categorizing(Category):
    if re.search(food, Category):
        return 'Food'
    elif re.search(body_care, Category):
        return 'Body Care'
    else:
        return 'Others'

df['Category'] = df['Category'].apply(categorizing)

# Print the DataFrame after categorizing
df

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
0,Noodles,50.0,74.0,Food,,,,,,,,,
1,Lays,10.0,26.0,Food,,,,,,,,,
2,Minereal Wter,10.0,500.0,Food,,,,,,,,,
3,Perk,10.0,22.0,Food,,,,,,,,,
4,Monster Energy,130.0,350.0,Food,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,,,,Others,,,,,,,perk,10.0,chocolates
244,,,,Others,,,,,,,snickers,20.0,chocolates
245,,,,Others,,,,,,,fuse,40.0,chocolates
246,,,,Others,,,,,,,5 star,35.0,chocolates
247,,,,Others,,,,,,,gems,5.0,chocolates

In [170]:
df['Price'] = pd.to_numeric(df['Price'])

# Top 10 expensive items

In [172]:
top_price=df.nlargest(10, 'Price')
dff=pd.DataFrame(top_price)
dff

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
25,Keyboard,1200.0,600.0,Others,,,,,,,,,
204,Keyboard,1200.0,600.0,Others,,,,,,,,,
34,Clock,560.0,450.0,Others,,,,,,,,,
214,Clock,560.0,450.0,Others,,,,,,,,,
28,Cake,500.0,500.0,Food,,,,,,,,,
207,Cake,500.0,500.0,Food,,,,,,,,,
26,Mouse,499.0,100.0,Others,,,,,,,,,
205,Mouse,499.0,100.0,Others,,,,,,,,,
27,Gel,469.0,250.0,Body Care,,,,,,,,,
206,Gel,469.0,250.0,Body Care,,,,,,,,,

### Can not sort mgf date the reasons is all the datasets don't contain the column named "mfg date"

In [173]:
dfff = dff.sort_values(by='mgf date', ascending=False)
dfff.head(10)

,Name,Price,Quantity,Category,Energy,Protein,mgf date,exp date,Brand,Sub category,Item Name,Price (In Rs),Cateogry
25,Keyboard,1200.0,600.0,Others,,,,,,,,,
204,Keyboard,1200.0,600.0,Others,,,,,,,,,
34,Clock,560.0,450.0,Others,,,,,,,,,
214,Clock,560.0,450.0,Others,,,,,,,,,
28,Cake,500.0,500.0,Food,,,,,,,,,
207,Cake,500.0,500.0,Food,,,,,,,,,
26,Mouse,499.0,100.0,Others,,,,,,,,,
205,Mouse,499.0,100.0,Others,,,,,,,,,
27,Gel,469.0,250.0,Body Care,,,,,,,,,
206,Gel,469.0,250.0,Body Care,,,,,,,,,

# Top5 brands

In [174]:
df=df[df['Brand'].str.strip()!='']
brand_counts=df['Brand'].value_counts()
top5=brand_counts.nlargest(5)
print(top5)

Brand
Nescafe          10
Nissin            7
faber castle      5
Parle             4
Kwality walls     4
Name: count, dtype: int64